<ng-template #content>
    <form nz-form (ngSubmit)="resetPassword()">
        <nz-spin [nzSpinning]="loading">
            <nz-form-item>
                <h2 class="sign-in-title">重置密码</h2>
            </nz-form-item>
            <app-form-item *ngFor="let field of fields" [form]="form" [field]="field" [errors]="errors"></app-form-item>
            <nz-form-item style="margin-bottom: 0;">
                <nz-form-control>
                    <button nz-button nzType="primary">提交</button>
                    <a (click)="signIn()">返回登录</a>
                    或
                    <a (click)="signUp()">立即注册</a>
                </nz-form-control>
            </nz-form-item>
        </nz-spin>
    </form>
</ng-template>
<div style="width: 100%; height: 100%; background: #ffffff; position: absolute; left: 0; top: 0; z-index: 99;"></div>