<ng-template #content>
    <form nz-form (ngSubmit)="signIn()">
        <nz-spin [nzSpinning]="loading">
            <nz-form-item>
                <h2>账户登录</h2>
            </nz-form-item>
            <app-form-item *ngFor="let field of fields" [form]="form" [field]="field"></app-form-item>
            <nz-form-item style="margin: 24px 0 0;">
                <nz-form-control>
                    <button nz-button nzType="primary">登录</button>
                    <a (click)="forgotPassword()">忘记密码</a>
                    或
                    <a (click)="signUp()">立即注册</a>
                </nz-form-control>
            </nz-form-item>
        </nz-spin>
    </form>
</ng-template>