<ng-template #content>
    <nz-spin [nzSpinning]="loading">
        <div class="edit">
            <nz-tabset>
                <nz-tab nzTitle="基本信息">
                    <form nz-form [style.height]="(formHeight - 45) + 'px'">
                        <div nz-row [nzGutter]="24">
                            <div nz-col [nzSpan]="span" *ngFor="let field of personFields">
                                <app-form-item [form]="form.person" [field]="field" [errors]="errors"></app-form-item>
                            </div>
                        </div>
                    </form>
                </nz-tab>
                <nz-tab nzTitle="职位信息">
                    <form nz-form [style.height]="(formHeight - 45) + 'px'">
                        <div nz-row [nzGutter]="24">
                            <div nz-col [nzSpan]="span" *ngFor="let field of jobFields">
                                <app-form-item [form]="form" [field]="field" [errors]="errors"></app-form-item>
                            </div>
                        </div>
                    </form>
                </nz-tab>
            </nz-tabset>
            <div class="toolbar">
                <nz-space>
                    <nz-space-item *ngFor="let button of toolbarButtons">
                        <app-button [name]="button.name" [type]="button.type" [danger]="button.danger" [divider]="button.divider" [size]="button.size"
                            (action)="button.action()"></app-button>
                    </nz-space-item>
                </nz-space>
            </div>
        </div>
    </nz-spin>
</ng-template>