<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>修改密码——frm</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/custom.css" />
</head>
<body class="bg-gray">
    <script type="text/javascript">
        var ele = document.getElementsByTagName("html")[0], size = document.body.clientWidth / 320 * 100;
        ele.style.fontSize = size + "px";
    </script>
    <div class="loading-wrap bg-gray" v-show="loading"><div class="spinner"></div></div>
    <div class="aui-padded-10"></div>
    <div class="aui-card">
        <div class="aui-form">
            <div class="aui-input-row">
                <i class="aui-input-addon aui-iconfont aui-icon-lock aui-text-info"></i>
                <input type="{{passwordType}}" class="aui-input" placeholder="原密码" v-model="oldPassword" />
            </div>
            <div class="aui-input-row">
                <i class="aui-input-addon aui-iconfont aui-icon-lock aui-text-info"></i>
                <input type="{{passwordType}}" class="aui-input" placeholder="新密码" v-model="newPassword" />
            </div>
            <div class="aui-input-row">
                <i class="aui-input-addon aui-iconfont aui-icon-lock aui-text-info"></i>
                <input type="{{passwordType}}" class="aui-input" placeholder="重复密码" v-model="againPassword" />
                <i class="aui-input-addon aui-iconfont" v-bind:class="{'aui-icon-attention':attention,'aui-icon-attentionfill':attentionfill }" tapmode v-on:click="showPassword"></i>
            </div>
        </div>
    </div>
    <script src="../../script/api.js"></script>
    <script src="../../script/vue.js"></script>
    <script src="../../script/common.js"></script>
    <script>
        var vm = new Vue({
            el: "body",
            data: {
                //界面相关参数
                loading: true,  //是否显示：全局加载
                passwordType: "password",
                oldPassword: "",
                newPassword: "",
                againPassword: "",
                attention: true,  //显示密码的class
                attentionfill: false   //隐藏密码的class
            },
            methods: {
                showPassword: function () {  //显示密码
                    showPassword();
                }
            }
        });


        apiready = function () {

            api.parseTapmode();

            setTimeout(function () {

                vm.$nextTick(function () {

                    vm.loading = false;

                });

            }, 300);

        };


        //显示密码
        function showPassword() {

            if (vm) {

                vm.passwordType = "text";
                vm.attention = false;
                vm.attentionfill = true;

                setTimeout(function () {

                    vm.passwordType = "password";
                    vm.attention = true;
                    vm.attentionfill = false;

                }, 400);

            }

        };


        //修改密码
        function changePassword() {

            if (vm) {

                if (vm.oldPassword == "") {
                    api.toast({ msg: "原密码不能为空！", duration: 3000 });
                } else if (vm.oldPassword == vm.newPassword) {
                    api.toast({ msg: "新密码不能和原密码相同！", duration: 3000 });
                } else if (vm.newPassword == "") {
                    api.toast({ msg: "新密码不能为空！", duration: 3000 });
                } else if (vm.againPassword == "") {
                    api.toast({ msg: "确认密码不能为空！", duration: 3000 });
                } else if (vm.newPassword != vm.againPassword) {
                    api.toast({ msg: "输入密码不一致！", duration: 3000 });
                } else {

                    //拼接接口地址：修改密码
                    var url = $api.getStorage("interface_url") + api_url.changePassword;

                    Ajax({
                        type: "post",
                        url: url,
                        data: {
                            access_token: $api.getStorage("access_token"),
                            oldPassword: vm.oldPassword,
                            newPassword: vm.newPassword
                        },
                        beforeSend: function () {
                            api.showProgress({ title: "提交信息" });
                        },
                        complete: function () {
                            api.hideProgress();
                        },
                        success: function (data) {

                            //修改成功，清空登录信息并回到首页
                            if (data.success) {

                                vm.oldPassword = "";
                                vm.newPassword = "";
                                vm.againPassword = "";

                                api.alert({
                                    title: "提示", msg: "修改成功,请重新登录！", buttons: ["确定"]
                                }, function (ret, err) {

                                    var interface_url = $api.getStorage("interface_url");
                                    var patrolLists = $api.getStorage("PatrolLists");
				                    $api.clearStorage();
				                    $api.setStorage("PatrolLists",patrolLists);
				                    $api.setStorage("interface_url", interface_url);
                                    
				                    openWin("login_win");
				                    closeWin("menu_win");
				                    closeWin("user/change_password_win");

                                });

                            } else {

                                api.alert({
                                    title: "提示", msg: "请输入正确的密码", buttons: ["确定"]
                                }, function (ret, err) {

                                    vm.oldPassword = "";
                                    vm.newPassword = "";
                                    vm.againPassword = "";

                                });

                            }

                        }
                    });

                }

            }

        };
    </script>
</body>
</html>