<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>忘记密码——frm</title>
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" href="../css/custom.css" />
    <style type="text/css">
        .aui-card {
            margin-top: 15px;
        }

        .aui-input-addon.aui-iconfont {
            font-size: 20px !important;
        }

        .aui-input-row {
            width: 100% !important;
        }
    </style>
</head>
<body>
    <div class="aui-content aui-card">
        <div class="aui-form">
            <div class="aui-input-row">
                <i class="aui-input-addon aui-iconfont aui-icon-people aui-text-custom"></i>
                <input v-model="username" type="text" class="aui-input" placeholder="请输入手机号码" />
            </div>
            <div class="aui-input-row">
                <input v-model="code" type="text" class="aui-input" placeholder="请输入收到的验证码" />
                <span class="aui-input-addon">
                    <button class="aui-btn" tapmode v-bind:disabled="codeDisabled" v-on:click="sendCode" v-text="codeText"></button>
                </span>
            </div>
            <div class="aui-btn-row">
                <div class="aui-btn aui-btn-block aui-btn-custom" v-on:click="submitPassword">确认</div>
            </div>
        </div>
    </div>
    <script src="../script/api.js"></script>
    <script src="../script/vue.js"></script>
    <script src="../script/common.js"></script>
    <script type="text/javascript">
        apiready = function () {

            api.parseTapmode();

            init();

        };


        //页面初始化
        function init() {

            var vm = new Vue({
                el: "body",
                data: {
                    username: "",  //用户名
                    code: "", //验证码
                    codeDisabled: false,   //禁用发送验证码的点击时间
                    codeText: "获取验证码",  //验证码按钮文本
                    codeTime: 60  //发送验证码的冷却时间
                },
                methods: {
                    sendCode: function () {  //发送验证码function
                        sendCode(this);
                    },
                    submitPassword: function () {  //提交重置密码function
                        submitPassword(this);
                    }
                }
            });

        };


        //发送验证码
        function sendCode(vm) {

            var phoneReg = /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;

            if (vm.username == "") {
                api.toast({ msg: "手机号码不能为空！", duration: 3000 });
            } else if (!phoneReg.test(vm.username)) {
                api.toast({ msg: "请输入正确的手机号！", duration: 3000 });
            } else {

                var url = $api.getStorage("interface_url") + api_url.getCode;

                Ajax({
                    type: "get",
                    url: url,
                    data: {
                        vtype: "FORGET_PASSWORD",
                        mobile: vm.username
                    },
                    beforeSend: function () {
                        api.showProgress({ title: "验证码发送中", animationType: "zoom" });
                    },
                    complete: function () {
                        api.hideProgress();
                    },
                    success: function (data) {
                        if (data.success) {

                            resetTime(vm);

                            api.alert({
                                title: "提示",
                                msg: "发送成功！",
                                buttons: ["确定"]
                            }, function (ret, err) {

                            });

                        } else {
                            api.alert({ title: "提示", msg: data.error.message, buttons: ["确定"] });
                        }

                    }
                });

            }

        };


        //重新发送验证码（倒计时）
        function resetTime(vm) {

            if (vm.codeTime > 1) {
                vm.codeTime -= 1;
                vm.codeDisabled = true;
                vm.codeText = vm.codeTime + "s";
                setTimeout(function () { resetTime(vm); }, 1000);
            } else if (vm.codeTime == 1) {
                vm.codeTime = 60;
                vm.codeDisabled = false;
                vm.codeText = "获取验证码";
            }

        };


        //提交重置密码
        function submitPassword(vm) {

            if (vm.username == "") {
                api.toast({ msg: "手机号码不能为空！", duration: 3000 });
            } else if (vm.code == "") {
                api.toast({ msg: "验证码不能为空！", duration: 3000 });
            } else {

                var url = $api.getStorage("interface_url") + api_url.findPassword;

                Ajax({
                    type: "get",
                    url: url,
                    data: {
                        mobile: vm.username,
                        number: vm.code
                    },
                    beforeSend: function () {
                        api.showProgress({ title: "提交信息", animationType: "zoom" });
                    },
                    complete: function () {
                        api.hideProgress();
                    },
                    success: function (data) {

                        if (data.success) {

                            api.alert({
                                title: "提示",
                                msg: "提交成功，密码稍后会以短信形式下发！",
                                buttons: ["确定"]
                            }, function (ret, err) {
                                closeWin();
                            });

                        } else {
                            api.alert({ title: "提示", msg: data.error.message, buttons: ["确定"] });
                        }

                    }

                });

            }

        };
    </script>
</body>
</html>