<ng-template #content>
    <nz-spin [nzSpinning]="loading">
        <div class="edit">
            <form nz-form [style.height]="formHeight + 'px'">
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="span" *ngFor="let field of fields">
                        <app-form-item [form]="form" [field]="field" [errors]="errors"></app-form-item>
                    </div>
                </div>
            </form>
            <div class="toolbar">
                <nz-space>
                    <nz-space-item *ngFor="let button of toolbarButtons">
                        <app-button [name]="button.name" [type]="button.type" [danger]="button.danger" [divider]="button.divider" [size]="button.size"
                            (action)="button.action()"></app-button>
                    </nz-space-item>
                </nz-space>
            </div>
        </div>
    </nz-spin>
</ng-template>