/* You can add global styles to this file, and also import other style files */
.ant-transfer {
    height: 100%;
}
.ant-transfer-list {
    height: 100% !important;
    width: calc(50% - 20px) !important;
}
