/* You can add global styles to this file, and also import other style files */
@import "~jsoneditor/dist/jsoneditor.min.css";

.ant-transfer {
    height: 100%;
}

.ant-transfer-list {
    height: 100% !important;
    width: calc(50% - 20px) !important;
}

.ant-table-title {
    height: 56px;
}

.ant-table-content {
    border-right: 1px solid #f0f0f0;

    .ant-table-header table thead th:last-of-type {
        border-right: none;
    }

    .ant-table-body table tbody td:last-of-type {
        border-right: none;
    }
}


.edit {
    nz-tabs-nav {
        margin-bottom: 0;
    }

    form {
        overflow-y: auto;
        padding: 16px;
    }

    .toolbar {
        border-top: 1px solid #f0f0f0;
        text-align: right;
        padding: 16px;
    }

    nz-space-item:last-of-type {
        margin-right: 0 !important;
    }
}

.switch .ant-form-item {
    margin: 0 !important;
}

a.ant-btn {
    padding: 0.1px 0 4px;
}
