<ng-container *ngIf="field.edit.input.prefixIcon || field.edit.input.suffixIcon; else elseBlock">
    <nz-input-group [nzPrefix]="prefix" [nzSuffix]="suffix">
        <input nz-input [(ngModel)]="form[field.code]" (ngModelChange)="modelChange($event)" [placeholder]="getPlaceholder()" type="password"
            [disabled]="isDisabled()">
    </nz-input-group>
</ng-container>
<ng-template #elseBlock>
    <input nz-input [(ngModel)]="form[field.code]" (ngModelChange)="modelChange($event)" [placeholder]="getPlaceholder()" type="password"
        [disabled]="isDisabled()">
</ng-template>
<ng-template #prefix>
    <i nz-icon *ngIf="field.edit.input.prefixIcon" [nzType]="field.edit.input.prefixIcon" nzTheme="outline"></i>
</ng-template>
<ng-template #suffix>
    <i nz-icon *ngIf="field.edit.input.suffixIcon" [nzType]="field.edit.input.suffixIcon" nzTheme="outline"></i>
</ng-template>